<p>uzytkownik o id <%= @order.customer.id %> dodal nowe zamowienie</p>
<ul>
	<li>Contact title: <%= @order.customer.contact_title%></li>
	<li>Contact name: <%= @order.customer.contact_name%></li>
	<li>Company name: <%= @order.customer.company_name%></li>
	

</ul>